*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
}
body{
    padding-left: 15px;
    color: white;
    background: rgb(1,1,41);
    background: linear-gradient(90deg, rgb(10, 10, 41) 0%, rgb(15, 15, 73) 50%, rgb(9, 9, 80) 100%);
}
.film-container{
    display: grid;
    grid-template-columns: repeat(8 , 1fr);
}

.button{
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%);
    border-radius: 15px;
    padding: 10px;
    margin: 10px 0;
}
.button:hover{
    color: white;
    border: 1px solid white;
    transition: 0.5s;
}
.showDiv{
        color: white;
        cursor: pointer;
        padding-top: 15px;
}
#hiddenDiv{
    display: none;
    margin-top: 10px;
    border-radius: 15px;
    font-size: 16px;
    padding: 10px;
    color: white;
    background: linear-gradient(90deg, rgb(10, 10, 41) 0%, rgb(15, 15, 73) 50%, rgb(13, 13, 100) 100%);
}
#hiddenDiv button{
    color: white;
    cursor: pointer;
    background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%);
    border-radius: 15px;
    padding: 10px;
    border: 1px solid black;

}
#hiddenDiv button:hover{
    color: black;
    border: 1px solid white;
    transition: 0.5s;
}
.addFilm{
    position: fixed;
    margin-left: 10px;
    gap: 5px;
    border: 1px solid gray;
    width: 320px;
    border-radius: 15px;
    padding: 10px;
    background: linear-gradient(90deg, rgb(10, 10, 41) 0%, rgb(15, 15, 73) 50%, rgb(13, 13, 100) 100%);
    font-size: 17px;
    text-align: center;
}
#title,#genre,#year,#imdbRating,#slika{
    font-size: 16px;
    margin-top: 5px;
    border: 0;
    outline: 0;
    border-bottom: 2px solid gray;
    color: white;
    background: transparent;
    transition: border-color 0.2s;
 }
 .film{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    height: 420px;
 }
 .film .film-title{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    text-align: center;
    display: flex;
    justify-content: center;
    color: white;
 }
    a{
    text-decoration: none;
 }

 .film img{
    border-radius: 15px;
    width: fit-content;
 }

 .film img:hover{
    outline: 1px white solid;
    transition: 0.5s;
 }
 .movies-popular{
    padding: 10px 0 30px 10px;
    font-size: 22px;
 }
 header{
    display: flex;
    justify-content: center;
    padding: 50px;
 }
 .search-input{
    font-size: 17px;
    padding: 0 20px;
    width: 600px;
    height: 50px;
    border-radius: 30px;
    background-color: #2f2e55;
    border: 0;
    color: white;
}
.search-img{
    height: 50px;
    width: 50px;
    position: absolute;
}



/* LOGIN PAGE */


/* .login-background{

}

.login-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.form{
    display: flex;
    flex-direction: column;
    width: 20%;
} */

/* body{

    background-size: cover;
} */
